@font-face {
    font-family: 'Houschka Pro';
    src: url('~/assets/fonts/HouschkaPro-Medium.woff2') format('woff2'),
        url('~/assets/fonts/HouschkaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agilera';
    src: url('~/assets/fonts/AgileraRegular.woff2') format('woff2'),
        url('~/assets/fonts/AgileraRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-primary: #9d6f40;
    --color-primary-100: #f8f5ee;
    --color-primary-200: #ede7d4;
    --color-primary-300: #ddceab;
    --color-primary-400: #caaf7a;
    --color-primary-500: #ba9455;
    --color-primary-600: #aa8148;
    --color-primary-700: #764e32;
    --color-primary-800: #64422f;
    --color-primary-900: #56392d;
    --color-primary-950: #311e17;


    --color-white: #fff;
    --font-houschka: "Houschka Pro";
    --font-agilera: "Agilera";
}


.glass {
    /* background: rgba(238, 229, 212, .1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px) !important; */
}